<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ninjacrab.BaseClassLibrary" version="1.2016.706.1092" targetFramework="net461" />
  <package id="Ninjacrab.Logging" version="1.2016.711.23394" targetFramework="net461" />
  <package id="NLog" version="3.2.0.0" targetFramework="net45" />
</packages>